@import "tailwindcss";

@theme {
  --color-neutral-900: #2B2620;
  --color-neutral-800: #3E3428;
  --color-neutral-700: #5A4C3C;
  --color-neutral-600: #7A6A57;
  --color-neutral-400: #E4DED5;
  --color-neutral-200: #F2EEEA;
  --color-neutral-100: #FBF6EF;
  --color-neutral-50: #FDFBF7;

  --color-sun-500: #EDB63A;
  --color-sun-300: #F5D98A;
  --color-sun-200: #FFDE7A;
  --color-sun-50: #FFF4DC;

  --color-blue-500: #5769C6;

  --color-terracotta-700: #9F3E1D;
  --color-terracotta-600: #B7411B;
  --color-terracotta-500: #C25A2E;
  --color-terracotta-400: #E07A3F;

  --color-rose-500: #C04A72;

  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", sans-serif;
  --font-fraunces: "Fraunces", Arial;
  --text-base: 14px;
  --leading-base: 140%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "DM Sans", "Fraunces", sans-serif;
}